/* --black: #000000ff;
--oxford-blue: #14213dff;
--orange-web: #fca311ff;
--platinum: #e5e5e5ff;
--white: #ffffffff */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "EB Garamond", serif;
}
html {
  font-size: 22px;
}
abbr {
  text-decoration: none;
  font-style: italic;
}
.bold {
  font-weight: bold;
}
address {
  display: inline-block;
}
dt {
  display: inline-block;
  min-width: 9.375rem;
}
dd {
  display: inline-block;
}
.author {
  color: rgb(24, 29, 170);
  text-decoration: underline;
}

div#header {
  min-height: 250px;
  background-image: radial-gradient(
    circle 100px,
    rgb(220, 220, 26, 0.349),
    rgb(220, 220, 26) 70px,
    rgb(112, 112, 11) 80px,
    #14213dff
  );

  line-height: 250px;
}

.sistema-solare_title {
  text-align: center;

  margin: 0;
  font-size: 2.5rem;
  text-transform: capitalize;
}
.sistema-solare_title--principale {
  text-shadow: 2px 2px #e5e5e5ff;
  word-spacing: 3px;
  text-transform: uppercase;
  font-size: 60px 3.75rem;
  color: #fca311ff;
}

div#main {
  padding: 20px 20px 0;
  background-color: #e5e5e5ff;
}

div.sistema-solare {
  background-color: #fca311ff;
  padding: 20px;
  border: 3px solid #14213dff;
}

.sistema-solare_body {
  font-size: 1.875;
  line-height: 1.15;
}
.sistema-solare_body li {
  list-style-image: url(../../assets/img/icons8-planet-8.png);
}
.pianeta-container {
  margin: 20px 0 0;
  font-size: 0;
}

.pianeta-card {
  width: calc(33.333333% - 40px / 3);
  border: 2px solid black;
  display: inline-block;
  font-size: 1rem;
  margin: 0 10px 20px;
  box-shadow: 0 0 1 px 2px #14213dff;
}
.pianeta-card:hover .pianeta-card_head {
  background-color: #14213dff;
  color: #fca311ff;
}
.pianeta-card:hover {
  cursor: pointer;
}

.pianeta-card_head {
  border-bottom: 2px ridge black;
  padding: 20px 0;
  margin: 0;
}

.pianeta-card h2 {
  text-align: center;
  margin: 0;
}
.pianeta-card_body {
  padding: 20px;
}

.pianeta-card_body p {
  margin: 0;
}

.pianeta-card_footer {
  color: #14213dff;
  text-align: center;
  border-top: 2px ridge black;
  padding: 20px 0;
  font-size: 1.25rem;
  cursor: pointer;
}
.pianeta-card_footer span {
  display: block;
  width: 75%;
  margin: 0 auto;
  padding: 5px 0;
}

.pianeta-card_footer span:hover {
  background-color: #14213dff;
  color: #fca311ff;
  border-radius: 999px;
}
.pianeta-card:nth-of-type(3n + 1) {
  margin-left: 0;
}
.pianeta-card:nth-of-type(3n) {
  margin-right: 0;
}
#footer {
  background-color: #fca311ff;
  padding: 30px;
}
