* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
div.container {
  border: 3px solid red;
}

.container div[class^="container-element"] {
  border: 3px solid black;
  text-align: center;
  height: 200px;
  line-height: 200px;
  float: left;
  width: 33.333333;
  /* width: calc(33.33333% - 40px / 3); */
}

/* .container div.container-element3{
  margin-right: 20px;
} */
/* 
div.container div:first-of-type,
div.container div:nth-of-type(2) {
  margin-right: 20px; */
}
/* div.container div.container-element2{
float: right;
margin-right: 0;
} */



.clearfix {
  clear: both;
}
div.dopo-flaout {
  height: 300px;
  background-color: aqua;
}
